<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frank.core.dao.base.OffshoreDetectOrganizationMapper">
  <resultMap id="BaseResultMap" type="com.frank.core.entity.OffshoreDetectOrganization">
    <id column="organization_id" jdbcType="BIGINT" property="organizationId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="organization_address" jdbcType="VARCHAR" property="organizationAddress" />
    <result column="organization_phone" jdbcType="VARCHAR" property="organizationPhone" />
    <result column="organization_attachment" jdbcType="VARCHAR" property="organizationAttachment" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    organization_id, product_id, batch_no, organization_name, organization_address, organization_phone, 
    organization_attachment, del_flag, create_time, create_by, creator, update_time, 
    update_by, updater
  </sql>
  <select id="selectByExample" parameterType="com.frank.core.entity.OffshoreDetectOrganizationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_offshore_detect_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_offshore_detect_organization
    where organization_id = #{organizationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_offshore_detect_organization
    where organization_id = #{organizationId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.frank.core.entity.OffshoreDetectOrganizationExample">
    delete from tb_offshore_detect_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="organizationId" parameterType="com.frank.core.entity.OffshoreDetectOrganization" useGeneratedKeys="true">
    insert into tb_offshore_detect_organization (organization_id, product_id, batch_no, 
      organization_name, organization_address, 
      organization_phone, organization_attachment, 
      del_flag, create_time, create_by, 
      creator, update_time, update_by, 
      updater)
    values (#{organizationId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{batchNo,jdbcType=VARCHAR}, 
      #{organizationName,jdbcType=VARCHAR}, #{organizationAddress,jdbcType=VARCHAR}, 
      #{organizationPhone,jdbcType=VARCHAR}, #{organizationAttachment,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updater,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="organizationId" parameterType="com.frank.core.entity.OffshoreDetectOrganization" useGeneratedKeys="true">
    insert into tb_offshore_detect_organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="organizationId != null">
        organization_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="batchNo != null">
        batch_no,
      </if>
      <if test="organizationName != null">
        organization_name,
      </if>
      <if test="organizationAddress != null">
        organization_address,
      </if>
      <if test="organizationPhone != null">
        organization_phone,
      </if>
      <if test="organizationAttachment != null">
        organization_attachment,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updater != null">
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="organizationId != null">
        #{organizationId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="batchNo != null">
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null">
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="organizationAddress != null">
        #{organizationAddress,jdbcType=VARCHAR},
      </if>
      <if test="organizationPhone != null">
        #{organizationPhone,jdbcType=VARCHAR},
      </if>
      <if test="organizationAttachment != null">
        #{organizationAttachment,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.frank.core.entity.OffshoreDetectOrganizationExample" resultType="java.lang.Long">
    select count(*) from tb_offshore_detect_organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_offshore_detect_organization
    <set>
      <if test="record.organizationId != null">
        organization_id = #{record.organizationId,jdbcType=BIGINT},
      </if>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=BIGINT},
      </if>
      <if test="record.batchNo != null">
        batch_no = #{record.batchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationName != null">
        organization_name = #{record.organizationName,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationAddress != null">
        organization_address = #{record.organizationAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationPhone != null">
        organization_phone = #{record.organizationPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationAttachment != null">
        organization_attachment = #{record.organizationAttachment,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updater != null">
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_offshore_detect_organization
    set organization_id = #{record.organizationId,jdbcType=BIGINT},
      product_id = #{record.productId,jdbcType=BIGINT},
      batch_no = #{record.batchNo,jdbcType=VARCHAR},
      organization_name = #{record.organizationName,jdbcType=VARCHAR},
      organization_address = #{record.organizationAddress,jdbcType=VARCHAR},
      organization_phone = #{record.organizationPhone,jdbcType=VARCHAR},
      organization_attachment = #{record.organizationAttachment,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      updater = #{record.updater,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.frank.core.entity.OffshoreDetectOrganization">
    update tb_offshore_detect_organization
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="batchNo != null">
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null">
        organization_name = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="organizationAddress != null">
        organization_address = #{organizationAddress,jdbcType=VARCHAR},
      </if>
      <if test="organizationPhone != null">
        organization_phone = #{organizationPhone,jdbcType=VARCHAR},
      </if>
      <if test="organizationAttachment != null">
        organization_attachment = #{organizationAttachment,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
    </set>
    where organization_id = #{organizationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.frank.core.entity.OffshoreDetectOrganization">
    update tb_offshore_detect_organization
    set product_id = #{productId,jdbcType=BIGINT},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      organization_name = #{organizationName,jdbcType=VARCHAR},
      organization_address = #{organizationAddress,jdbcType=VARCHAR},
      organization_phone = #{organizationPhone,jdbcType=VARCHAR},
      organization_attachment = #{organizationAttachment,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      updater = #{updater,jdbcType=VARCHAR}
    where organization_id = #{organizationId,jdbcType=BIGINT}
  </update>
</mapper>