<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frank.core.dao.base.PortRegulatoryMapper">
  <resultMap id="BaseResultMap" type="com.frank.core.entity.PortRegulatory">
    <id column="regulatory_id" jdbcType="BIGINT" property="regulatoryId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="regulatory_agency_name" jdbcType="VARCHAR" property="regulatoryAgencyName" />
    <result column="regulatory_agency_address" jdbcType="VARCHAR" property="regulatoryAgencyAddress" />
    <result column="regulatory_agency_phone" jdbcType="VARCHAR" property="regulatoryAgencyPhone" />
    <result column="inspection_quarantine_certificate_attachment" jdbcType="VARCHAR" property="inspectionQuarantineCertificateAttachment" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    regulatory_id, product_id, batch_no, regulatory_agency_name, regulatory_agency_address, 
    regulatory_agency_phone, inspection_quarantine_certificate_attachment, del_flag, 
    create_time, create_by, creator, update_time, update_by, updater
  </sql>
  <select id="selectByExample" parameterType="com.frank.core.entity.PortRegulatoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_port_regulatory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_port_regulatory
    where regulatory_id = #{regulatoryId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_port_regulatory
    where regulatory_id = #{regulatoryId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.frank.core.entity.PortRegulatoryExample">
    delete from tb_port_regulatory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="regulatoryId" parameterType="com.frank.core.entity.PortRegulatory" useGeneratedKeys="true">
    insert into tb_port_regulatory (regulatory_id, product_id, batch_no, 
      regulatory_agency_name, regulatory_agency_address, 
      regulatory_agency_phone, inspection_quarantine_certificate_attachment, 
      del_flag, create_time, create_by, 
      creator, update_time, update_by, 
      updater)
    values (#{regulatoryId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{batchNo,jdbcType=VARCHAR}, 
      #{regulatoryAgencyName,jdbcType=VARCHAR}, #{regulatoryAgencyAddress,jdbcType=VARCHAR}, 
      #{regulatoryAgencyPhone,jdbcType=VARCHAR}, #{inspectionQuarantineCertificateAttachment,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updater,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="regulatoryId" parameterType="com.frank.core.entity.PortRegulatory" useGeneratedKeys="true">
    insert into tb_port_regulatory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="regulatoryId != null">
        regulatory_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="batchNo != null">
        batch_no,
      </if>
      <if test="regulatoryAgencyName != null">
        regulatory_agency_name,
      </if>
      <if test="regulatoryAgencyAddress != null">
        regulatory_agency_address,
      </if>
      <if test="regulatoryAgencyPhone != null">
        regulatory_agency_phone,
      </if>
      <if test="inspectionQuarantineCertificateAttachment != null">
        inspection_quarantine_certificate_attachment,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updater != null">
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="regulatoryId != null">
        #{regulatoryId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="batchNo != null">
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="regulatoryAgencyName != null">
        #{regulatoryAgencyName,jdbcType=VARCHAR},
      </if>
      <if test="regulatoryAgencyAddress != null">
        #{regulatoryAgencyAddress,jdbcType=VARCHAR},
      </if>
      <if test="regulatoryAgencyPhone != null">
        #{regulatoryAgencyPhone,jdbcType=VARCHAR},
      </if>
      <if test="inspectionQuarantineCertificateAttachment != null">
        #{inspectionQuarantineCertificateAttachment,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.frank.core.entity.PortRegulatoryExample" resultType="java.lang.Long">
    select count(*) from tb_port_regulatory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_port_regulatory
    <set>
      <if test="record.regulatoryId != null">
        regulatory_id = #{record.regulatoryId,jdbcType=BIGINT},
      </if>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=BIGINT},
      </if>
      <if test="record.batchNo != null">
        batch_no = #{record.batchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.regulatoryAgencyName != null">
        regulatory_agency_name = #{record.regulatoryAgencyName,jdbcType=VARCHAR},
      </if>
      <if test="record.regulatoryAgencyAddress != null">
        regulatory_agency_address = #{record.regulatoryAgencyAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.regulatoryAgencyPhone != null">
        regulatory_agency_phone = #{record.regulatoryAgencyPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.inspectionQuarantineCertificateAttachment != null">
        inspection_quarantine_certificate_attachment = #{record.inspectionQuarantineCertificateAttachment,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updater != null">
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_port_regulatory
    set regulatory_id = #{record.regulatoryId,jdbcType=BIGINT},
      product_id = #{record.productId,jdbcType=BIGINT},
      batch_no = #{record.batchNo,jdbcType=VARCHAR},
      regulatory_agency_name = #{record.regulatoryAgencyName,jdbcType=VARCHAR},
      regulatory_agency_address = #{record.regulatoryAgencyAddress,jdbcType=VARCHAR},
      regulatory_agency_phone = #{record.regulatoryAgencyPhone,jdbcType=VARCHAR},
      inspection_quarantine_certificate_attachment = #{record.inspectionQuarantineCertificateAttachment,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      updater = #{record.updater,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.frank.core.entity.PortRegulatory">
    update tb_port_regulatory
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="batchNo != null">
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="regulatoryAgencyName != null">
        regulatory_agency_name = #{regulatoryAgencyName,jdbcType=VARCHAR},
      </if>
      <if test="regulatoryAgencyAddress != null">
        regulatory_agency_address = #{regulatoryAgencyAddress,jdbcType=VARCHAR},
      </if>
      <if test="regulatoryAgencyPhone != null">
        regulatory_agency_phone = #{regulatoryAgencyPhone,jdbcType=VARCHAR},
      </if>
      <if test="inspectionQuarantineCertificateAttachment != null">
        inspection_quarantine_certificate_attachment = #{inspectionQuarantineCertificateAttachment,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
    </set>
    where regulatory_id = #{regulatoryId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.frank.core.entity.PortRegulatory">
    update tb_port_regulatory
    set product_id = #{productId,jdbcType=BIGINT},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      regulatory_agency_name = #{regulatoryAgencyName,jdbcType=VARCHAR},
      regulatory_agency_address = #{regulatoryAgencyAddress,jdbcType=VARCHAR},
      regulatory_agency_phone = #{regulatoryAgencyPhone,jdbcType=VARCHAR},
      inspection_quarantine_certificate_attachment = #{inspectionQuarantineCertificateAttachment,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      updater = #{updater,jdbcType=VARCHAR}
    where regulatory_id = #{regulatoryId,jdbcType=BIGINT}
  </update>
</mapper>